.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  height: 100vh;
  width: 100px;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(0deg,#ff7abe,#ff9770);  
  justify-content: space-around;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.auth {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(99deg,#ff70a6,#ff9770 40%,#ffd670 73%,#e9ff70);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 35px;
  color: #fff;
  font-family: sans-serif;
  box-shadow: 0 14px 28px 0 rgba(0,0,0,.25), 0 10px 10px 0 rgba(0,0,0,.26);
}

.login-box h1 {
  font-size: 75px;
  margin: 7px;
}

.login-box p {
  font-weight: bold;
}

.login-box input {
  font-size: 14px;
  margin: 6px 0;
}

.login-box button {
  width: 120px;
  margin: 8px auto;
  background-color: #4F4D4A;
  padding: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.login-box img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}